@import url('https://fonts.googleapis.com/css2?family=Condiment&family=Doto:wght@100..900&family=Jersey+10+Charted&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Silkscreen:wght@400;700&family=VT323&display=swap');
.about-us-button {
    text-align: center;
    margin-top: 30px; 
    margin-bottom: 30px;
  }
  .our_process>h1{
    font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
  }
  .about-us-button .cta-btn a {
    text-decoration: none;
    color: #ffffff;
    background: #3bab5a; 
    padding: 12px 50px;
    border-radius: 5px; 
    text-transform: uppercase; 
    letter-spacing: 2px; 
    box-shadow: 0 0 px #3bab5a, 0 0 20px #3bab3a;
    border: 2px solid #2c8f48; 
    transition: all 0.3s ease; 
  }
  
  .about-us-button .cta-btn a:hover {
    background: #247a3d; 
    color: #ffffff;
    transform: scale(1.1) rotate(5deg);
    box-shadow: 0 0 15px #2c8f22, 0 0 25px #2c8f35; 
    border-color: #ffffff; 
  }
  .inner-line{
    margin-top: 2%;
  }
  @media only screen and (max-width: 650px) {
    .inner-line{
      transform: rotate(90deg);
      display: flex;
      margin-left: 35%;
    }
  }